.theme-toggle {
  .js-theme-toggle {
    cursor: pointer;
  }

  .theme-icon-light,
  .theme-icon-dark {
    transition: opacity 0.3s ease;
  }
}

[data-theme="dark"] .theme-icon-dark {
  display: none !important;
}

[data-theme="dark"] .theme-icon-light {
  display: inline-block !important;
}

[data-theme="light"] .theme-icon-light {
  display: none !important;
}

[data-theme="light"] .theme-icon-dark {
  display: inline-block !important;
}

/* Make Research Themes icons darker */
.featurette-icon {
  color: #111c57 !important;
}

/* Increase side margins */
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

@media (min-width: 1400px) {
  .container-xl {
    max-width: 1240px !important;
    /* Limit width slightly effectively increasing margin on very large screens */
  }
}